<!-- https://stackblitz.com/edit/responsive-menu-angular-material-flex-layout?file=src/app/app.component.html -->
<div>
    <div [hidden]=false>
        <mat-toolbar color="primary" class="toolbar">
            <mat-toolbar-row class="firsttoolbar">
                <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
                    <mat-icon>menu</mat-icon>
                </button>        
                <span class="">Aloz Homes </span>
                <span class="menu-spacer"></span>
                <div fxshow="true" fxHide.lt-md>
                    <button mat-button routerLink="">Home</button>
                    <button mat-button routerLink="/aboutus"> About us </button>
                    <button mat-button routerLink="/contactus"> Contact us</button>
                    <button mat-button routerLink="/allposts"> Publications </button>           
                    <button mat-button [matMenuTriggerFor]="menu">
                        <div *ngIf="token == null; else elseBlock">{{account}}</div>
                        <ng-template #elseBlock> {{accountTwo}} </ng-template>
                    </button>
                    <mat-menu #menu="matMenu">
                        <div class="containe" *ngIf="token == null">
                            <button mat-menu-item routerLink="/login"> Sign in </button>
                        </div>
                        <div class="containe" *ngIf="token == null">
                            <button mat-menu-item routerLink="/signup"> Sign up </button>

                        </div>
                        <div class="containe" *ngIf="token != null">
                            <button mat-menu-item routerLink="/myprofile"> Profile </button>
                        </div>  
                        <div class="containe" *ngIf="token != null">
                            <button mat-menu-item routerLink="/myposts"> My Posts </button>
                        </div>                    
                        <div class="containe" *ngIf="token != null">
                            <button mat-menu-item routerLink="" (click)="logout()"> Sign off </button>
                        </div>
                    </mat-menu>
                </div>    
            </mat-toolbar-row>
        </mat-toolbar>
            
        <mat-sidenav-container fxFlexFill>
            <mat-sidenav #sidenav>
                <mat-nav-list>
                    <mat-list-item>
                        <mat-icon mat-list-icon>home</mat-icon>
                        <button mat-button routerLink="">Home</button> 
                    </mat-list-item>   
                    <mat-list-item>
                        <mat-icon mat-list-icon>info</mat-icon>
                        <button mat-button routerLink="/aboutus">About us</button>              
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>contact_mail</mat-icon>
                        <button mat-button routerLink="/contactus">Contact us</button>              
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>view_week</mat-icon>
                        <button mat-button routerLink="/allposts">Publications</button>          
                    </mat-list-item>
                    <mat-list-item *ngIf="token == null">
                        <mat-icon mat-list-icon>input</mat-icon>
                        <button mat-button routerLink="/login">Sign in</button>          
                    </mat-list-item>   
                    <mat-list-item *ngIf="token == null">
                        <mat-icon mat-list-icon>person_add</mat-icon>
                        <button mat-button routerLink="/signup">Sign up</button>              
                    </mat-list-item>
                    <mat-list-item *ngIf="token != null">
                        <mat-icon mat-list-icon>account_box</mat-icon>
                        <button mat-button routerLink="/myprofile">Profile</button>              
                    </mat-list-item>
                    <mat-list-item *ngIf="token != null">
                        <mat-icon mat-list-icon>recent_actors</mat-icon>
                        <button mat-button routerLink="/myposts">My Posts</button>              
                    </mat-list-item>
                    <mat-list-item *ngIf="token != null">
                        <mat-icon mat-list-icon>clear</mat-icon>
                        <button mat-button routerLink="" (click)="logout()">Sign off</button>            
                    </mat-list-item>                            
                </mat-nav-list>
            </mat-sidenav>
            <mat-sidenav-content>
                <router-outlet></router-outlet> 
                <!-- <app-footer></app-footer>    -->
            </mat-sidenav-content>        
        </mat-sidenav-container> 
    </div>
    <div>
        <app-footer></app-footer>   
    </div>
</div>
<!-- <router-outlet></router-outlet>
<app-footer></app-footer>    -->







