<!-- https://stackblitz.com/edit/responsive-menu-angular-material-flex-layout?file=src/app/app.component.html -->
<div style="height: 80vh;">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <!-- sidenav.toggle = menu hamburguesa / Es visible desde la resolución minima gt-sm = 960px -->
            <!-- https://github.com/angular/flex-layout/wiki/Responsive-API  -->
            <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
                <!-- Componente de angular material usando los iconos de Material Design, link:  -->
                <!-- https://material.io/tools/icons/?style=baseline -->
                <mat-icon>menu</mat-icon>  
            </button>        
            <span>ALOZ HOMES </span>
            <span class="menu-spacer"></span>
            <div fxshow="true" fxHide.lt-md>
                <button mat-button routerLink="">Inicio</button>
                <button mat-button routerLink="/aboutus"> ¿Quiénes somos? </button>
                <button mat-button routerLink="/contactus">Contáctanos</button>
                <button mat-button [matMenuTriggerFor]="menu">Cuenta</button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item> Ingresa </button>
                    <button mat-menu-item routerLink="/signin"> Crea tu cuenta </button>                    
                </mat-menu>           
            </div>    
        </mat-toolbar-row>
    </mat-toolbar>
        
    <mat-sidenav-container fxFlexFill>
        <mat-sidenav #sidenav>
            <mat-nav-list>
                <mat-list-item>
                    <mat-icon mat-list-icon>home</mat-icon>
                    <button mat-button routerLink="">Inicio</button>             
                </mat-list-item>   
                <mat-list-item>
                    <mat-icon mat-list-icon>info</mat-icon>
                    <button mat-button routerLink="/aboutus">Quienes somos</button>              
                </mat-list-item>
                <mat-list-item>
                    <mat-icon mat-list-icon>comment</mat-icon>
                    <button mat-button routerLink="/contactus">Contáctanos</button>              
                </mat-list-item>
                <mat-list-item>
                    <mat-icon mat-list-icon>input</mat-icon>
                    <button mat-button routerLink="/signin">Crea tu cuenta</button>              
                </mat-list-item>                      
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content fxFlexFill>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <app-footer></app-footer>
</div>


