<div class="container" fxLayoutAlign="center">
  <h2 id="title"> Contact us </h2>
</div>

<div class="container" fxLayoutAlign="center">

  <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Nombre">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email">
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Comentario"></textarea>
      </mat-form-field>

      <button mat-raised-button color="primary" class="example-full-width">Enviar</button>
  </form>  

</div>
