<div class="container" fxLayoutAlign="center">
  <h1 class="mat-h1 title2"> Contact us </h1>
</div>

<div class="container mat-body" fxLayoutAlign="center">

  <form #formContact="ngForm" class="example-form" (ngSubmit)="sendMessage(formContact)">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Name" name="name" ngModel required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" name="email" ngModel required>
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Comment" name="comment" ngModel required></textarea>
      </mat-form-field>

      <button type="submit" [disabled]="formContact.invalid" mat-raised-button color="primary" class="example-full-width">Send</button>
  </form>  

</div>
