.container{
    /* border: 2px solid blue; */
    padding-block-start: 7rem;
    /* border: 2px solid red; */
}

.example-full-width {
    width: 100%;
}

.example-form{
    width: 500px;
    margin: auto;
}