<!-- <ngb-carousel *ngIf="images"> -->
  
  <ngb-carousel>
    <ng-template ngbSlide>
      <img class="carrusel" src="assets/images/home/navigate-360-1.jpg" alt="360 degree images
      ">
      <div class="carousel-caption">
        <h3 class="mat-h3">360 degree images</h3>
        <!-- <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img class="carrusel" src="assets/images/home/navigate-360-3.jpg" alt="Random second slide">
      <div class="carousel-caption">
        <h3 class="mat-h3">360 degree images</h3>
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
      </div>
    </ng-template>
    <!-- <ng-template ngbSlide>
      <img [src]="" alt="Random third slide">
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template> -->
  </ngb-carousel>
  
<div >
  <div class="container" fxLayout="row" fxLayout.sm="column" fxLayoutGap="10px" fxLayoutAlign="center">

    <mat-card class="example-card">
      <mat-card-header fxLayoutAlign="center">
        <mat-card-title class="mat-h2"> Sails in 360 </mat-card-title>
      </mat-card-header>
      <img class="carrusel2" mat-card-image src="assets/images/home/sails.jpg" alt="Sails in 360">
      <mat-card-content class="mat-body">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, molestias quasi maiores rerum consequuntur pariatur optio totam tempore tenetur cumque ex harum unde dolores necessitatibus nobis ipsum aperiam assumenda accusantium.
        </p>
      </mat-card-content>    
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header fxLayoutAlign="center">
        <mat-card-title class="mat-h2"> Deploy 3D objects </mat-card-title>
      </mat-card-header>
      <img class="carrusel2" mat-card-image src="assets/images/home/deploy3d.png" alt="Deploy 3D objects">
      <mat-card-content class="mat-body">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, molestias quasi maiores rerum consequuntur pariatur optio totam tempore tenetur cumque ex harum unde dolores necessitatibus nobis ipsum aperiam assumenda accusantium.
        </p>
      </mat-card-content>    
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header fxLayoutAlign="center">
        <mat-card-title class="mat-h2"> Secure your decision </mat-card-title>
      </mat-card-header>
      <img class="carrusel2" mat-card-image src="assets/images/home/choice.png" alt="Secure your decision">
      <mat-card-content class="mat-body">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, molestias quasi maiores rerum consequuntur pariatur optio totam tempore tenetur cumque ex harum unde dolores necessitatibus nobis ipsum aperiam assumenda accusantium.
        </p>
      </mat-card-content>    
    </mat-card>
    
  </div>
</div>
  
