<div class="container">

  <h2> Profile </h2>
  <form>
    <mat-form-field>
        <label> Nombre </label> <input matInput type="text" value="{{name}}" disabled>
    </mat-form-field>
    <mat-form-field>
        <label> Last Name: </label> <input matInput type="text" value="{{lastName}}" disabled>
    </mat-form-field>
    <mat-form-field>
        <label> Number: </label> <input matInput type="tel" value="{{phone}}" disabled>
    </mat-form-field>
    <mat-form-field>
        <label> Email: </label> <input matInput type="email" value="{{email}}" disabled>
    </mat-form-field>
  </form> 

</div>