.example-full-width {
    width: 100%;
}

.mat-form-field{
    display: block;
}

.container{
    width: 500px;
    margin: auto;
    text-align: center;
}

.mat-raised-button{
    width: 100px;
}

#button1{
    margin-right: 15px;
}

#button2{
    margin-left: 15px;
}