<div class="container">

  <h1 class="mat-h1 title"> Your profile </h1>

  <form [formGroup]="formProfile" class="example-form" (ngSubmit)="onSubmit(buttonType)">
    <mat-form-field>
        <label class="mat-h3"> Name: </label> <input matInput type="text" formControlName="name">
    </mat-form-field>
    <mat-form-field>
        <label class="mat-h3"> Last Name: </label> <input matInput type="text" formControlName="lastName">
    </mat-form-field>
    <mat-form-field>
        <label class="mat-h3"> Number: </label> <input matInput type="number" formControlName="phone">
    </mat-form-field>
    <mat-form-field>
        <label class="mat-h3"> Email: </label> <input matInput type="email" formControlName="email">
    </mat-form-field>

    <button mat-raised-button color="primary" id="button1" (click)="onSubmit('edit')">Edit</button>
    <button mat-raised-button color="primary" id="button2" (click)="onSubmit('save')">Save</button>    

  </form> 

</div>