<div class="container">

  <h2> Profile </h2>

  <form [formGroup]="formProfile" class="example-form" (ngSubmit)="onSubmit(buttonType)">
    <mat-form-field>
        <label> Name: </label> <input matInput type="text" formControlName="name">
    </mat-form-field>
    <mat-form-field>
        <label> Last Name: </label> <input matInput type="text" formControlName="lastName">
    </mat-form-field>
    <mat-form-field>
        <label> Number: </label> <input matInput type="number" formControlName="phone">
    </mat-form-field>
    <mat-form-field>
        <label> Email: </label> <input matInput type="email" formControlName="email">
    </mat-form-field>

    <button mat-raised-button color="primary" id="button1" (click)="onSubmit('edit')">Edit</button>
    <button mat-raised-button color="primary" id="button2" (click)="onSubmit('save')">Save</button>    

  </form> 

</div>