.container{
    /* border: 2px solid blue; */
    padding-block-start: 7rem;
    min-height: 100%;
    margin-bottom: 10px;    
}

.example-card{    
    /* border: 2px solid red; */
    width: 500px;
    margin: auto;
    text-align: center;
    /* width: 100%; */
}

.example-full-width {
    width: 100%;
}

.mat-icon {
vertical-align: middle;
}