/* .container3 > * {
    box-sizing: border-box;
}

.container3 >*:not(:last-child){
    margin-right: 32px;
} */

.container3{
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: flex-start;
}

.container2{
    /* padding-block-start: 7rem; */
    margin-top: 10px;
}

.container{
    margin-top: 10px;
    /* min-height: 100%; */
}

.example-card{    
    width: 500px;
    margin: auto;
    text-align: center;
}

.example-full-width{
    width: 100%;
}

.mat-card{
    margin-top: 10px;
    width: 300px;
    text-align: center;
}

#flotante{
    /* border: 2px solid red; */
    float: right;
    margin-bottom: 10px;
}

#buscador{
    width: 450px;
}

.titulos{
    padding-right: 1rem;
}

.inputNeighborhood{
    width: 160px;
}

.inputAddress{
    width: 190px;
}

.inputBathrooms{
    width: 40px;
}

.inputBedrooms{
    width: 40px;
}

#title{
    margin: 15px;
    /* font-family: sans-serif;
    font-size: 35px; */
}

.filterWidth{
    width: 450px;;
}
