<div class="container">

  <div fxLayoutAlign="center">
    <h1 class="mat-h1 title"> My posts </h1>
  </div>
  
  <div class="container2" *ngIf="flag!=true">
    <mat-card class="example-card">
      <mat-card-title class="title">
          There are still no posts {{name}}. Create One
      </mat-card-title>
  
      <mat-card-content>
        <button mat-raised-button type="submit" color="primary" routerLink="/newpost" class="example-full-width">Create one</button>
      </mat-card-content>  
    </mat-card>
  </div>

  <!-- <div class="mat-elevation-z8" *ngIf="flag==true" style="margin: 15px;">

    <div fxLayout="row wrap" fxLayoutAlign="space-around center" >
      <button mat-raised-button color="primary" routerLink="/newpost">Create a post</button>
  
      <mat-form-field>
        <input matInput (keyup)="applyFilterTable($event.target.value)" placeholder="Filter by any item in the table">
      </mat-form-field>
    </div>

    <table class="example-full-width" mat-table [dataSource]="rStates" matSort>
      <ng-container matColumnDef="typeProperty">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Type of property </th>
        <td mat-cell *matCellDef="let rstate"> {{rstate.typeProperty}} </td>
      </ng-container>
      
      <ng-container matColumnDef="typeOffer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Type of offer </th>
        <td mat-cell *matCellDef="let rstate"> {{rstate.typeOffer}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
        <td mat-cell *matCellDef="let rstate"> {{rstate.price | currency:'COP'}} </td>
      </ng-container>

      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
        <td mat-cell *matCellDef="let rstate"> {{rstate.city}} </td>
      </ng-container>

      <ng-container matColumnDef="area">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Area M² </th>
        <td mat-cell *matCellDef="let rstate"> {{rstate.area}} </td>
      </ng-container>

      <ng-container matColumnDef="bathrooms">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Bathrooms </th>
        <td mat-cell *matCellDef="let rstate"> {{rstate.bathrooms}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let rstate">
          <button routerLink="/editpost/{{rstate._id}}" matTooltip="Edit post" mat-button>
            <mat-icon>edit</mat-icon>
          </button>
          <button matTooltip="Delete post" (click)="dialogDeletepost(rstate._id)" mat-button>
            <mat-icon>delete</mat-icon>
          </button>
          <button [routerLink]="['/postdetail', rstate._id]" matTooltip="View my post" mat-button>
            <mat-icon>launch</mat-icon>
          </button>
          <button matTooltip="Tour in 360 degrees" mat-button [disabled]="isAuthenticated">
            <img style="width: 35px; height:35px;" src="assets/images/vr2.png">  
          </button>                                
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div> -->

  <div class="mat-elevation-z8" style="margin: 15px;" *ngIf="flag==true">
    <div fxLayout="row wrap" fxLayoutAlign="space-around center" >
      <button mat-raised-button color="primary" routerLink="/newpost">Create a post</button>
  
      <mat-form-field>
        <input matInput (keyup)="applyFilterTable($event.target.value)" placeholder="Filter by any item in the table">
      </mat-form-field>
    </div>
        
    <table class="example-full-width" mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="typeProperty">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Type of property </th>
        <td mat-cell *matCellDef="let rstate"> {{rstate.typeProperty}} </td>
      </ng-container>
    
      <ng-container matColumnDef="typeOffer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Type of offer </th>
        <td mat-cell *matCellDef="let rstate"> {{rstate.typeOffer}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
        <td mat-cell *matCellDef="let rstate"> {{rstate.price | currency:'COP'}} </td>
      </ng-container>

      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
        <td mat-cell *matCellDef="let rstate"> {{rstate.city}} </td>
      </ng-container>

      <ng-container matColumnDef="area">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Area M² </th>
        <td mat-cell *matCellDef="let rstate"> {{rstate.area}} </td>
      </ng-container>

      <ng-container matColumnDef="bathrooms">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Bathrooms </th>
        <td mat-cell *matCellDef="let rstate"> {{rstate.bathrooms}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let rstate">
          <button routerLink="/editpost/{{rstate._id}}" matTooltip="Edit post" mat-button>
            <mat-icon>edit</mat-icon>
          </button>
          <button matTooltip="Delete post" (click)="dialogDeletepost(rstate._id)" mat-button>
            <mat-icon>delete</mat-icon>
          </button>
          <button [routerLink]="['/postdetail', rstate._id]" matTooltip="View my post" mat-button>
            <mat-icon>launch</mat-icon>
          </button>
          <button matTooltip="Tour in 360 degrees" mat-button [disabled]="isAuthenticated">
            <img style="width: 35px; height:35px;" src="assets/images/vr2.png">  
          </button>                                
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>

  <div id="flotante" *ngIf="flag!=true">
      <button mat-fab color="primary" routerLink="/newpost">
        <mat-icon>add</mat-icon>
      </button>
  </div>

</div>


