<div class="container">
  
  <div class="container2" *ngIf="flag!=true">
    <mat-card class="example-card">
      <mat-card-title class="title">
          There are still no posts {{name}}. Create One
      </mat-card-title>
  
      <mat-card-content>
        <button mat-raised-button type="submit" color="primary" routerLink="/post" class="example-full-width">Create one</button>
      </mat-card-content>  
    </mat-card>
  </div>

  <div class="container" fxLayoutAlign="center" *ngIf="flag!=false">
    <input id="buscador" value="Search by name" type="text" name="filterMyPost" [(ngModel)]="filterMyPost">
  </div>

  <div class="container3" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" *ngIf="flag!=false">
    <mat-card *ngFor="let rstate of rStates " >
      <form #formPost = "ngForm">

        <mat-form-field class="example-full-width" [hidden]="true">
          <input matInput type="text" name="id" [(ngModel)]="rstate._id" >
        </mat-form-field>
        
        <mat-form-field class="example-full-width" [hidden]="true">
          <input matInput type="text" name="disabled" [(ngModel)]="rstate.disabled" >
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput type="text" name="name" [(ngModel)]="rstate.name" [disabled]="rstate.disabled">
        </mat-form-field>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Real state">

        <mat-card-content >
          <label class="titulos">Neighborhood:</label>
          <mat-form-field class="inputNeighborhood">
            <input matInput type="text" name="neighborhood" [disabled]="rstate.disabled" [(ngModel)]="rstate.neighborhood" >
          </mat-form-field>
          <label class="titulos">Address:</label>
          <mat-form-field class="inputAddress">
            <input matInput type="text" name="address" [disabled]="rstate.disabled" [(ngModel)]="rstate.address" >
          </mat-form-field>
          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <label class="titulos">Bathrooms:</label>
                <mat-form-field class="inputBathrooms">
                  <input matInput type="text" name="bathrooms" [(ngModel)]="rstate.bathrooms" [disabled]="rstate.disabled">
                </mat-form-field>
              </td>
              <td>
                <label class="titulos">Bedrooms:</label>
                <mat-form-field class="inputBedrooms"> 
                  <input matInput type="text" name="bedrooms" [(ngModel)]="rstate.bedrooms" [disabled]="rstate.disabled">
                </mat-form-field>
              </td>
            </tr>
          </table>
          <label>Description:</label>
          <mat-form-field class="example-full-width">
            <textarea matInput type="textarea" name="description" [(ngModel)]="rstate.description" [disabled]="rstate.disabled"></textarea>
          </mat-form-field>          
        </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button type="submit" (click)="editPost(formPost, false)">
            <mat-icon> edit </mat-icon> 
          </button>
          <button mat-icon-button type="submit" (click)="savePost(formPost)" [disabled]="rstate.disabled">
            <mat-icon> save </mat-icon> 
          </button>
          <button mat-icon-button type="submit" (click)="dialogDeletepost(formPost)" [disabled]="rstate.disabled">
            <mat-icon> delete </mat-icon> 
          </button>
          <button mat-button color="primary">Virtual Reality</button>          
        </mat-card-actions>
      </form>
    </mat-card>
  </div>

  <div id="flotante">
      <button mat-fab color="primary" routerLink="/post">
        <mat-icon>add</mat-icon>
      </button>
  </div>

</div>


