<div class="container2" fxLayoutAlign="center">
  <h2> Crea tu cuenta </h2>
</div>

<div class="container" fxLayoutAlign="center"> 

  <form class="example-form" [formGroup]="formSignup" (ngSubmit)="addUser(formSignup)">
     
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Name" formControlName="name" required>
      <mat-error *ngIf="!formSignup.controls['name'].valid && formSignup.controls['name'].touched"> The name is required  </mat-error>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Lastname" formControlName="lastName" required>
      <mat-error *ngIf="!formSignup.controls['lastName'].valid && formSignup.controls['lastName'].touched"> The Lastname is required  </mat-error>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Phone" formControlName="phone" required>
      <mat-error *ngIf="!formSignup.controls['phone'].valid && formSignup.controls['phone'].touched"> The phone is required  </mat-error>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <input matInput placeholder="E-mail" formControlName="email" type="email" required>
      <mat-error *ngIf="!formSignup.controls['email'].valid && formSignup.controls['email'].touched"> The email is required  </mat-error>  
    </mat-form-field>  
  
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Confirm e-mail" formControlName="coemail" type="email" required>
      <mat-error *ngIf="!formSignup.controls['coemail'].valid && formSignup.controls['coemail'].touched"> Mail confirmation is requiered  </mat-error>
    </mat-form-field> 
  
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="!formSignup.controls['password'].valid && formSignup.controls['password'].touched"> The password is required  </mat-error>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Confirm password" [type]="hide2 ? 'password' : 'text'" formControlName="copassword" required>
      <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="!formSignup.controls['copassword'].valid && formSignup.controls['copassword'].touched"> Password confirmation is required  </mat-error>
    </mat-form-field>
  
    <button class="btnForm" mat-raised-button [disabled]="!formSignup.valid || formSignup.value.password != formSignup.value.copassword" type="submit" color="primary"> Sign up </button>
    <!-- {{formSignup.value | json}} -->
    
  </form>

</div>
