.example-full-width {
    width: 100%;
}

h2{
    padding-bottom: 7px;
}

.btnForm{
    justify-content: center;
    width: 100%;
}

.container{
    width: 500px;
    margin: auto;
}

.container3{
    min-height: 100%;
    padding-block-start: 5rem;    
}

/* .container{
    border: 12px solid black;
} */

