.carrusel{
    width: 450px;
    height: 400px;
}

.title2{
    margin: 15px;
}

.subtitulos{
    margin-left: 10px;
    /* font-family: sans-serif;
    font-size: 28px; */
}

.subtitulos2{
    margin-left: 15px;
    /* font-family: sans-serif;
    font-size: 18px;     */
}

.subtitulos3{
    margin-left: 15px;
    /* font-family: sans-serif;
    font-size: 22px;     */
}

.editInputs{
    width: 280px;
    margin-left: 5px;
}

.editRadios{
    margin-left: 5px;
}

.container{
    margin-bottom: 10px;
}