<div class="container" *ngIf="restate" >

  <h1 class="mat-h1 title2"> Edit post  </h1>

  <form #formEditpost = "ngForm" (ngSubmit)="savePost(formEditpost)">

    <div fxLayout="row" fxLayout.xs="column">
      
      <div class="carrusel">
        <mat-tab-group mat-align-tabs="center">
          <mat-tab label="In 2D">
            <img class="carrusel" [src]="imageUrl">
            <input placeholder="Select an image" name="image" type="file" accept="image/jpeg, image/png" (change)="onFileSelected($event)">
          </mat-tab>
          <mat-tab label="In 360">
            <img class="carrusel" [src]="imageUrl">
            <input placeholder="Select an image" name="image2" type="file" accept="image/jpeg, image/png" (change)="onFileSelected2($event)">
  
          </mat-tab>
        </mat-tab-group>        
      </div>
  
      <div>
        <h2 class="mat-h2 subtitulosEspecial subtitulos"> Financial features </h2>
        <mat-list>
          <mat-list-item [hidden]="true">
            <mat-form-field class="example-full-width">
              <input matInput type="text" name="id" [(ngModel)]="restate._id" >
            </mat-form-field>
          </mat-list-item>

          <mat-list-item>
            <mat-label class="mat-h3 subtitulos2"> Type of property: </mat-label>
            <mat-form-field class="editInputs">
              <mat-select name="typeProperty" [(ngModel)]="restate.typeProperty" required>
                <mat-option *ngFor="let inmueble of tipoInmueble" [value]="inmueble.value" >
                  {{inmueble.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-list-item>

          <mat-list-item>
            <mat-label class="mat-h3 subtitulos2"> Type offer: </mat-label>
            <mat-radio-group name="typeOffer" [(ngModel)]="restate.typeOffer" required>
              <mat-radio-button class="editRadios" value=sale color="primary"> On sale
              </mat-radio-button>
              <mat-radio-button class="editRadios" value=lease color="primary"> On lease
              </mat-radio-button>
            </mat-radio-group>
          </mat-list-item>

          <mat-list-item>
           <mat-label class="mat-h3 subtitulos2"> Price: </mat-label> 
            <mat-form-field class="editInputs">
              <input currencyMask matInput name="price" [(ngModel)]="restate.price" [options]="{prefix: '$ ', thousands: '.', allowNegative: false, precision: 0 }" required>
            </mat-form-field>
          </mat-list-item>

          <mat-list-item *ngIf="formEditpost.value.typeOffer == 'sale'">
            <mat-checkbox class="mat-h3 subtitulos2" name="negotiable" [labelPosition]="labelPosition" color="primary"
            [(ngModel)]="restate.negotiable"> Negotiable:
            </mat-checkbox>
          </mat-list-item>

          <mat-list-item *ngIf="formEditpost.value.typeOffer == 'lease'">
            <mat-checkbox class="mat-h3 subtitulos2" name="incluAdmin" [labelPosition]="labelPosition" color="primary"
            [(ngModel)]="restate.incluAdmin"> Includes administration:
            </mat-checkbox>
          </mat-list-item>

          <mat-list-item *ngIf="formEditpost.value.incluAdmin == false">
            <mat-label class="mat-h3 subtitulos2"> Administration value: </mat-label>
            <mat-form-field>
              <input currencyMask matInput  name="adminValue" [(ngModel)]="restate.adminValue" [options]="{prefix: '$ ', thousands: '.', allowNegative: false, precision: 0 }">
            </mat-form-field>
          </mat-list-item>
        </mat-list>
        <h2 class="mat-h2 subtitulos"> Location features </h2>
        <mat-list>
          <mat-list-item>
            <mat-label class="mat-h3 subtitulos2"> Department: </mat-label>
            <mat-form-field class="editInputs">
              <mat-select [(ngModel)]="restate.department" name="department"
              required>
                <mat-option *ngFor="let dept of departments" [value]="dept">
                    {{dept}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-list-item>

          <mat-list-item>
            <mat-label class="mat-h3 subtitulos2"> City: </mat-label>
            <mat-form-field class="editInputs">
              <mat-select [(ngModel)]="restate.city" name="city" required>
                <mat-option *ngFor="let cit of citys" [value]="cit" >
                  {{cit}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-list-item>

          <mat-list-item>
            <mat-label class="mat-h3 subtitulos2"> Neighborhood: </mat-label> 
            <mat-form-field class="editInputs">
              <input matInput type="text" name="neighborhood" [(ngModel)]="restate.neighborhood" required>
            </mat-form-field>            
          </mat-list-item>

          <mat-list-item>
            <mat-label class="mat-h3 subtitulos2"> Address: </mat-label> 
            <mat-form-field class="editInputs">
              <input matInput type="text" name="address" [(ngModel)]="restate.address" required>
            </mat-form-field>            
          </mat-list-item>

        </mat-list>
  
      </div>
  
    </div>

    <h2 class="mat-h2 subtitulos">Property features</h2>
    <div>
      <mat-list fxLayout="row" fxLayout.xs="column">
        <mat-list-item>
          <mat-label class="mat-h3 subtitulos2"> Area M²: </mat-label> 
          <mat-form-field  >
            <input matInput type="number" min="0" name="area" [(ngModel)]="restate.area" required>
          </mat-form-field>           
        </mat-list-item>

        <mat-list-item>
          <mat-label class="mat-h3 subtitulos2"> Antiquity: </mat-label>
          <mat-form-field class="editInputs">
            <mat-select name="antiquity" [(ngModel)]="restate.antiquity" required>
              <mat-option *ngFor="let anti of antiquitys" [value]="anti.value" >
                {{anti.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>            
        </mat-list-item>

        <mat-list-item>
          <mat-label class="mat-h3 subtitulos2"> Number of rooms: </mat-label>
          <mat-form-field >
            <mat-select name="rooms" [(ngModel)]="restate.rooms" required>
              <mat-option *ngFor="let bed of bedrooms" [value]="bed.value" >
                {{bed.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>            
        </mat-list-item>

      </mat-list>
      
      <mat-list fxLayout="row" fxLayout.xs="column" style="margin-top:10px;">
        
        <mat-list-item>
          <mat-label class="mat-h3 subtitulos2"> Number of bathrooms: </mat-label>
          <mat-form-field>
            <mat-select name="bathrooms" [(ngModel)]="restate.bathrooms" required>
              <mat-option *ngFor="let bed of bedrooms" [value]="bed.value" >
                {{bed.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>            

        </mat-list-item>
        <mat-list-item *ngIf="formEditpost.value.typeProperty == 'Apartment'">
          <mat-label class="mat-h3 subtitulos2"> Apartment floor: </mat-label>
          <mat-form-field >
            <input matInput type="number" min="0" max="20" name="apartmentFloor" [(ngModel)]="restate.apartmentFloor" required>
          </mat-form-field>                
        </mat-list-item>
        <mat-list-item>
          <mat-label class="mat-h3 subtitulos2"> Number of parking lots: </mat-label>
          <mat-form-field>
            <mat-select name="parking" [(ngModel)]="restate.parking" required>
              <mat-option *ngFor="let bed of bedrooms" [value]="bed.value" >
                {{bed.viewValue}}
              </mat-option>
            </mat-select>            
          </mat-form-field>          
        </mat-list-item>
      </mat-list>

      <div class="container" style="margin-left:3px;">
        <mat-label class="mat-h3 subtitulos2"> Description: </mat-label>
        <mat-form-field style="width:100%; margin-left:12px;">
          <textarea matInput name="description" [(ngModel)]="restate.description" required>    
          </textarea>
        </mat-form-field>            

      </div>


      <h2 class="mat-h2 subtitulos" style="margin-top: 15px;" 
      >Detailed features</h2>

      <h2 class="mat-h3 subtitulos3">Interior:</h2>

      <mat-list fxLayout="row" fxLayout.xs="column">
        <mat-list-item>
          <mat-checkbox name="interior.aircondi" [(ngModel)]="restate.interior.aircondi"
          [labelPosition]="labelPosition" color="primary">Air conditioner</mat-checkbox>
        </mat-list-item>
        <mat-list-item>
          <mat-checkbox name="interior.jacuzzi" [(ngModel)]="restate.interior.jacuzzi"
          [labelPosition]="labelPosition" color="primary">Jacuzzi</mat-checkbox>
        </mat-list-item>
        <mat-list-item>
          <mat-checkbox name="interior.fwood" [(ngModel)]="restate.interior.fwood"
          [labelPosition]="labelPosition" color="primary">Floor wood</mat-checkbox>
        </mat-list-item>
      </mat-list>
      <mat-list fxLayout="row" fxLayout.xs="column">
        <mat-list-item>
          <mat-checkbox name="interior.cfloor" [(ngModel)]="restate.interior.cfloor"
          [labelPosition]="labelPosition" color="primary">Ceramic floor</mat-checkbox>
        </mat-list-item>
        <mat-list-item>
          <mat-checkbox name="interior.ikitchen" [(ngModel)]="restate.interior.ikitchen"
          [labelPosition]="labelPosition" color="primary">Integral Kitchen</mat-checkbox>
        </mat-list-item>
        <mat-list-item>
          <mat-checkbox name="interior.akitchen" [(ngModel)]="restate.interior.akitchen"
          [labelPosition]="labelPosition" color="primary">American Kitchen</mat-checkbox>
        </mat-list-item>
      </mat-list>

      <mat-divider></mat-divider>

      <h2 class="mat-h3 subtitulos3">Exterior:</h2>
      <mat-list fxLayout="row" fxLayout.xs="column">
        <mat-list-item>
          <mat-checkbox name="exterior.pool" [(ngModel)]="restate.exterior.pool"
          [labelPosition]="labelPosition" color="primary">Swimming pool</mat-checkbox>
        </mat-list-item>
        <mat-list-item>
          <mat-checkbox name="exterior.ccondominium" [(ngModel)]="restate.exterior.ccondominium"
          [labelPosition]="labelPosition" color="primary">Gated condominium</mat-checkbox>
        </mat-list-item>
        <mat-list-item>
          <mat-checkbox name="exterior.pvisitors" [(ngModel)]="restate.exterior.pvisitors"
          [labelPosition]="labelPosition" color="primary">Parking lot visitors</mat-checkbox>
        </mat-list-item>
      </mat-list>

      <mat-divider></mat-divider>

      <h2 class="mat-h3 subtitulos3">Common areas:</h2>
      <mat-list fxLayout="row" fxLayout.xs="column">
        <mat-list-item>
          <mat-checkbox name="careas.cliving" [(ngModel)]="restate.careas.cliving"
          [labelPosition]="labelPosition" color="primary">Social salon</mat-checkbox>
        </mat-list-item>
        <mat-list-item>
          <mat-checkbox name="careas.fcourt" [(ngModel)]="restate.careas.fcourt"
          [labelPosition]="labelPosition" color="primary">Football court</mat-checkbox>
        </mat-list-item>
        <mat-list-item>
          <mat-checkbox name="careas.bcourt" [(ngModel)]="restate.careas.bcourt"
          [labelPosition]="labelPosition" color="primary">Basketball court</mat-checkbox>
        </mat-list-item>
      </mat-list>
      <mat-list fxLayout="row" fxLayout.xs="column">
        <mat-list-item>
          <mat-checkbox name="careas.tcourt" [(ngModel)]="restate.careas.tcourt"
          [labelPosition]="labelPosition" color="primary">Tennis court</mat-checkbox>
        </mat-list-item>
        <mat-list-item>
          <mat-checkbox name="careas.greenery" [(ngModel)]="restate.careas.greenery"
          [labelPosition]="labelPosition" color="primary">Green areas</mat-checkbox>
        </mat-list-item>
        <mat-list-item>
          <mat-checkbox name="careas.chareas" [(ngModel)]="restate.careas.chareas"
          [labelPosition]="labelPosition" color="primary">Children's areas</mat-checkbox>
        </mat-list-item>
      </mat-list>

      <mat-divider></mat-divider>

      <h2 class="mat-h3 subtitulos3">Sector:</h2>
      <mat-list fxLayout="row" fxLayout.xs="column">
        <mat-list-item>
          <mat-checkbox name="sector.schoolnear" [(ngModel)]="restate.sector.schoolnear"
          [labelPosition]="labelPosition" color="primary">Schools near</mat-checkbox>
        </mat-list-item>
        <mat-list-item>
          <mat-checkbox name="sector.unear" [(ngModel)]="restate.sector.unear"
          [labelPosition]="labelPosition" color="primary">Universities near</mat-checkbox>
        </mat-list-item>
        <mat-list-item>
          <mat-checkbox name="sector.smarkets" [(ngModel)]="restate.sector.smarkets"
          [labelPosition]="labelPosition" color="primary">Supermarkets</mat-checkbox>
        </mat-list-item>
      </mat-list>
      <mat-list fxLayout="row" fxLayout.xs="column">
        <mat-list-item>
          <mat-checkbox name="sector.parks" [(ngModel)]="restate.sector.parks"
          [labelPosition]="labelPosition" color="primary">Parks</mat-checkbox>
        </mat-list-item>
        <mat-list-item>
          <mat-checkbox name="sector.malls" [(ngModel)]="restate.sector.malls"
          [labelPosition]="labelPosition" color="primary">Malls</mat-checkbox>
        </mat-list-item>
        <mat-list-item>
          <mat-checkbox name="sector.ptransport" [(ngModel)]="restate.sector.ptransport"
          [labelPosition]="labelPosition" color="primary">Public transport</mat-checkbox>
        </mat-list-item>
      </mat-list>
      <mat-list fxLayout="row" fxLayout.xs="column">
        <mat-list-item>
          <mat-checkbox name="sector.czone" [(ngModel)]="restate.sector.czone"
          [labelPosition]="labelPosition" color="primary">Commercial zone</mat-checkbox>
        </mat-list-item>
      </mat-list>
    </div>
    <div fxLayoutAlign="center">
      <button mat-raised-button color="primary">Save post</button>
    </div>
  </form>
</div>