.container{
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.container > * {
    box-sizing: border-box;
}

.container >*:not(:last-child){
    margin-right: 32px;
}

.mat-card{
    margin-top: 10px;
    width: 300px;
    text-align: center;
}