<div class="container">

  <div class="container2" fxLayoutAlign="center">
    <input id="buscador" placeholder="Search by name" type="text" name="filterPost" [(ngModel)]="filterPost">
  </div>

  <div class="container3" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px">
    <mat-card *ngFor="let rstate of rStates | filterpublications: filterPost" >
      <mat-card-title> {{rstate.name}} </mat-card-title>
      <mat-card-subtitle> Barrio: {{rstate.neighborhood}} </mat-card-subtitle>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Real state">
      <mat-card-content>
        <label><b>Address:</b></label><label>{{rstate.address}}</label>
        <table fxLayoutAlign="center" cellspacing="0">
          <tr>
            <td>
              <label><b>Bathrooms:</b></label>
              <label>{{rstate.bathrooms}}</label>
            </td>
            <td>
              <label><b>Bedrooms:</b></label>
              <label>{{rstate.bedrooms}}</label>
            </td>
          </tr>
        </table>
        <label><b>Description:</b></label>
        <p>
          {{rstate.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="primary" [disabled]="isAuthenticated">Virtual Reality</button>  
      </mat-card-actions>
    </mat-card>
  </div>  
</div>


