<div class="container">

  <!-- <div class="container4" *ngIf="isAuthenticated != false" fxLayoutAlign="center">
    <mat-card class="example-card">
      <mat-card-title class="title">
          There are still no posts. Create an account to post
      </mat-card-title>
  
      <mat-card-content>
        <button mat-raised-button type="submit" color="primary" routerLink="/signup" class="example-full-width">Create an account</button>
      </mat-card-content>  
    </mat-card>
  </div> -->

  <mat-tab-group mat-align-tabs="center" >

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>view_module</mat-icon>
      </ng-template>
      <div fxLayoutAlign="center">
        <mat-form-field class="filterWidth">
          <input matInput placeholder="Filters by property type" type="text" name="filterPost" [(ngModel)]="filterPost">
        </mat-form-field>
      </div>

      <div class="container3" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px">
        <mat-card *ngFor="let rstate of rStates | filterpublications: filterPost" >
          <mat-card-title *ngIf="rstate.typeOffer == 'sale'"> {{rstate.typeProperty}} for {{rstate.typeOffer | uppercase}} in</mat-card-title>
          <mat-card-title *ngIf="rstate.typeOffer == 'lease'"> {{rstate.typeProperty}} for {{rstate.typeOffer | uppercase}} in </mat-card-title>
          <h5> {{rstate.city}} </h5>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Real state">
          <mat-card-content>
            <h4>{{rstate.price | currency:'COP'}}</h4>
          </mat-card-content>
          <mat-card-actions>
            <button routerLink="/postdetail/{{rstate._id}}" matTooltip="More detailed info" mat-button>
              <mat-icon>launch</mat-icon>
            </button>
            <button matTooltip="Tour in 360 degrees" mat-button [disabled]="isAuthenticated">
              <img style="width: 40px; height:40px;" src="assets/images/vr2.png">  
            </button>
          </mat-card-actions>
        </mat-card>
      </div> 
      
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>view_list</mat-icon>
      </ng-template>

      <div class="mat-elevation-z8" style="margin: 15px;">
        <div class="filterAlign">
          <mat-form-field class="filterWidth" >
            <input matInput (keyup)="applyFilterTable($event.target.value)" placeholder="Filter by any item in the table">
          </mat-form-field>
        </div>
            
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="typeProperty">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Type of property </th>
              <td mat-cell *matCellDef="let rstate"> {{rstate.typeProperty}} </td>
            </ng-container>
          
            <ng-container matColumnDef="typeOffer">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Type of offer </th>
              <td mat-cell *matCellDef="let rstate"> {{rstate.typeOffer}} </td>
            </ng-container>

            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
              <td mat-cell *matCellDef="let rstate"> {{rstate.price | currency:'COP'}} </td>
            </ng-container>

            <ng-container matColumnDef="city">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
              <td mat-cell *matCellDef="let rstate"> {{rstate.city}} </td>
            </ng-container>

            <ng-container matColumnDef="area">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Area M² </th>
              <td mat-cell *matCellDef="let rstate"> {{rstate.area}} </td>
            </ng-container>

            <ng-container matColumnDef="bathrooms">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Bathrooms </th>
              <td mat-cell *matCellDef="let rstate"> {{rstate.bathrooms}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> Actions </th>
              <td mat-cell *matCellDef="let rstate">
                <button [routerLink]="['/postdetail', rstate._id]" matTooltip="More detailed info" mat-button>
                  <mat-icon>launch</mat-icon>
                </button>
                <button matTooltip="Tour in 360 degrees" mat-button [disabled]="isAuthenticated">
                  <img style="width: 35px; height:35px;" src="assets/images/vr2.png">  
                </button>                                
              </td>
            </ng-container>
            <!-- <ng-container matColumnDef="noData">
              <mat-footer-cell *matFooterCellDef>
                No data.
              </mat-footer-cell>
            </ng-container> -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <!-- <mat-footer-row *matFooterRowDef="['noData']" [hidden]="rStates.lenght == '0'"></mat-footer-row> -->
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
      
    </mat-tab>
  </mat-tab-group>

 
</div>


