.container3 > * {
    box-sizing: border-box;
}

.container3 >*:not(:last-child){
    margin-right: 32px;
}

.container3{
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: flex-start;    
}

table {
    width: 100%;
}

.containerTable{
    margin: 15px;
}

.container4{
    padding-block-start: 7rem;
}

.container2{
    margin-top: 10px;
}

.container{
    margin-top: 10px;
    min-height: 100%;
}

.mat-card{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    text-align: center;
    font-family: sans-serif;
}

.filterWidth{
    width: 450px;;
}

.filterAlign{
    text-align: center;
}