<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="center">

    <div>
        <mat-card class="example-card">
            <mat-card-header>
            <mat-card-title class="mat-h2"> Mission </mat-card-title>
            </mat-card-header>
            <mat-card-content>
            <p class="mat-body-1">
                Improve the decision made by potential buyers of real estate, with the use of immersive and non-immersive technologies.
            </p>
            </mat-card-content>    
        </mat-card>
    </div>
    <div> 
        <mat-card class="example-card">
            <mat-card-header>
            <mat-card-title class="mat-h2"> Vision </mat-card-title>
            </mat-card-header>
            <mat-card-content>
            <p class="mat-body-1">
                To be recognized by 2021 as the first application that allows to include 3D real estate objects in 360 images
            </p>
            </mat-card-content>    
        </mat-card>
    </div>
 

</div>
